<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
<!-- 	<import resource="service_1.xml" /> -->
	<import resource="service_2.xml" />
	
	<bean id="messageServiceProvider" class="com.arun.learning.MessageServiceProvider"/>
</beans>
